<div class="row" ng-controller="controllerFeitos" ng-init="getUserInvestments()">
    <div class="col-md-12">
        <h1>Investimentos</h1>

		<p>Este menu mostra seus investimentos realizados, você pode filtrar utilizando a barra de busca.</p>

        <table id="table_investimentos_feitos"
               data-toggle="table"
               data-search="true"
               data-pagination="true"
               data-click-to-select="true"
               data-toolbar="#toolbar"
               class="table-responsive" button-table>
            <thead>
                <tr>
                    <th data-field="Name" data-filter-control="input" data-sortable="true">Nome do Investimento</th>
                    <th data-field="PercentReturn" data-filter-control="input" data-sortable="true">% Queda/Aumento</th>
                    <th data-field="estimativaRetorno" data-filter-control="input" data-sortable="true">Estimativa Retorno (R$)</th>
                    <th data-field="valorInvestido" data-filter-control="input" data-sortable="true">Valor Investido</th>
                    <th data-field="dataInvestido" data-filter-control="input" data-sortable="true">Data Investido</th>
                    <th data-field="Details" data-sortable="true">Mais Detalhes</th>
                </tr>
            </thead>
        </table>

    </div>
</div>