<div class="container" ng-controller="cadastrarUser">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="~/images/avatar.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <form class="form-signin" name="formCadastro">
            <span id="reauth-email" class="reauth-email"></span>

            <div class="form-group">
                <span class="text-muted">Nome:</span>
                <input class="form-control" placeholder="Nome" ng-model="user.Name" name="nome" required />
            </div>

            <div class="form-group">
                <span class="text-muted">E-mail:</span>
                <input class="form-control" placeholder="E-mail" ng-model="user.Email" name="email" required />
            </div>

            <div class="form-group">
                <span class="text-muted">Confirmação de E-mail:</span>
                <input class="form-control" placeholder="Confirmacao de E-mail" ng-model="confirmacaoEmail" required />
                <span class="text-muted" style="color:red" ng-hide="validaEmails()">Os dois E-mails devem ser iguais.</span>
            </div>

            <div class="form-group">
                <span class="form-group">CPF:</span>
                <input class="form-control" placeholder="CPF" ng-model="user.Cpf" name="cpf" required />
            </div>

            <div class="form-group">
                <span class="text-muted">Número de Filhos:</span>
                <input class="form-control" placeholder="Numero de filhos" ng-model="user.NumberChildren" />
            </div>

            <div class="form-group">
                <span class="text-muted">Volume Disponível:</span>
                <input class="form-control" placeholder="Volume Disponivel" ng-model="user.VolumAvailable" />
            </div>

            <div class="form-group" ng-init="carregaRiscosDeInvestimento()">
                <span class="text-muted">Tipo de Risco:</span>
                <select class="selectpicker col-md-12" title="Tipo de Risco" ng-model="user.IdRiskAvailability">
                    <option style="display:none"></option>
                    <option ng-repeat="option in riscosPossiveis" data-select-watcher data-last="{{$last}}" value="{{option.IdRiskAvailability}}">{{option.Description}}</option>
                </select>
                <span class="text-muted" style="color:red" ng-hide="!hideRisco">Campo Obrigatório.</span>
            </div>

            <div class="form-group">
                <span class="text-muted">Senha:</span>
                <input ng-model="user.Password" type="password" class="form-control" placeholder="Senha" name="senha" required>
            </div>

            <div class="form-group">
                <span class="text-muted">Confirmação de Senha</span>
                <input ng-model="confirmacaoSenha" type="password" class="form-control" placeholder="Confirmacao de Senha" required>
                <span class="text-muted" style="color:red" ng-hide="validaSenhas()">As senhas não correspondem.</span>
            </div>

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" style="margin-top:10px" ng-click="cadastrarUser()">Cadastrar</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->
