<div ng-controller="controllerSugeridos" ng-init="getUserRisk()">
    <table id="table_investimentos_sugeridos"
           data-toggle="table"
           data-click-to-select="true"
           data-toolbar="#toolbar"
           class="table-responsive" button-table table-html>
        <thead>
            <tr>
                <th data-field="Name" data-filter-control="input" data-sortable="true">Nome Investimentos</th>
                <th data-field="TypeInvestment.Description" data-filter-control="" data-sortable="true">Tipo do Investimento</th>
                <th data-field="RiskAvailability.Description" data-filter-control="" data-sortable="true">Risco do Investimentos</th>
                <th data-field="Link" data-filter-control="" data-sortable="true">Link sugerido</th>
                <th data-field="IdInvestment" data-filter-control="" data-sortable="true">Confirmar Investimento</th>
            </tr>
        </thead>
    </table>
    <div style="margin-top:20px">
        <button ng-show="showMine" ng-click="getAllInvestments()" type="button" class="btn btn-default">Mostrar todos investimentos</button>
        <button ng-show="!showMine" ng-click="getUserRisk()" type="button" class="btn btn-default">Mostrar investimentos sugeridos para mim</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalInvestimento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form name="inserirInvestimento">
            <div class="modal-dialog" role="document" ng-controller="controllerSugeridos">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Cadastrar Investimento</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <input ng-model="id_Investimento" value="id" id="investimento_" style="display:none" />

                            <div class="col-md-2"></div>

                            <div class="col-md-8">
                                <div class="row">
                                    <span class="text-muted">Valor Investido (R$)</span>
                                    <input class="form-control" type="number" step="0.01" min="0" required ng-model="ValorInvestido" />
                                </div>

                                <div class="row" style="margin-top:20px">
                                    <span class="text-muted">Data do Investimento</span>
                                    <input class="form-control" required type="date" ng-model="dataInvestido" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button class="btn btn-default" ng-click="inserirInvestimento()" type="submit">Inserir Investimento</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
