<div ng-controller="controllerSugeridos" ng-init="getUserRisk()">
    <table id="table_investimentos_sugeridos"
           data-toggle="table"
           data-search="true"
           data-filter-control="true"
           data-show-export="true"
           data-click-to-select="true"
           data-toolbar="#toolbar"
           class="table-responsive" button-table>
        <thead>
            <tr>
                <th data-field="Name" data-filter-control="input" data-sortable="true">Nome Investimentos</th>
                <th data-field="TypeInvestment.Description" data-filter-control="" data-sortable="true">Tipo do Investimento</th>
                <th data-field="RiskAvailability.Description" data-filter-control="" data-sortable="true">Risco do Investimentos</th>
                <th data-field="Link" data-filter-control="" data-sortable="true">Link sugerido</th>
            </tr>
        </thead>
    </table>
    <div style="margin-top:20px">
        <button ng-show="showMine" ng-click="getAllInvestments()" type="button" class="btn btn-default">Mostrar todos investimentos</button>
        <button ng-show="!showMine" ng-click="getUserRisk()" type="button" class="btn btn-default">Mostrar investimentos sugeridos para mim</button>
    </div>
</div>
